body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 300px;
    background: #fff;
    padding: 20px;
    margin: 100px auto;
    border-radius: 5px;
}

h2 {
    text-align: center;
}


input {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}


.low {
    border-left: 5px solid green;
}

.medium {
    border-left: 5px solid orange;
}

.high {
    border-left: 5px solid red;
}

.counter {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.done-btn {
    background: green;
    color: white;
    border: none;
    padding: 3px 6px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
}

.expired {
    background-color: #ffd6d6;
    border-left: 5px solid red;
}

/* Dark Mode */
.dark {
    background-color: #121212;
    color: white;
}

.dark .container {
    background-color: #1e1e1e;
}

.dark li {
    background-color: #2c2c2c;
}

.dark input,
.dark select {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

.dark button {
    background-color: #444;
    color: white;
}
